@import "tailwindcss";

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
    --primary: 176 100% 43%; /* Premium Titanium Cyan */
    --primary-foreground: 224 71% 4%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 213 31% 91%;
    --border: 217 33% 17%;
    --radius: 1rem;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #060913;
  color: #f1f5f9;
  -webkit-font-smoothing: antialiased;
}

/* Luxury micro-scrollbar mechanics */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #060913;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f2fe;
}

/* Hide horizontal scrollbar rails while keeping swipe functionality native */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}